// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  width: 50%;
  margin: 0 auto;
}

h2 {
  text-decoration: underline;
}

li {
  list-style: none;
}

ul {
  background-color: #d3d3d3;
  opacity: 0.5;
  width: 30%;
  margin: 2rem;
}